{% extends "base.html" %}
{% block contenido %}
<p>Clientes registrados </p>
    <a href="/clienteAdd/">agregar</a>
<table class='table table-striped'>
    <thead>
        <tr>
            <th>ruc</th>
            <th>razon social</th>
            <th>direccion</th>
        </tr>
    </thead>
    <tbody>
    {% for cliente in clientes %}
        <tr>
            <td>{{cliente.ruc}}</td>
            <td>{{cliente.razon_social}}</td>
            <td>{{cliente.direccion}}</td>
            <td><a href="/clienteEdit/{{cliente.id}}">editar</a></td>
            <td><a href="/clienteDelete/{{cliente.id}}">borrar</a></td> 
        <tr>
        {% empty %}
        <tr>
            <td>No hay Clientes registrados</td>
        </tr>
        {% endfor %}
    </tbody>  

    {% endblock %}
    {% block footer %}
    {% endblock %}
